<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <div class="container mt-5">
      <h3>catalog</h3>
      <ul>
        <% data.forEach(function(d) { %>
        <li>
          <a href="<%= d.link %>"><%= d.title %></a>
          - <%= d.desc_en %> <% d.category.forEach(function(c) { %>
          <span class="tag tag-sm tag-light">#<%= c %></span>
          <% }); %>
        </li>
        <% }); %>
      </ul>
    </div>
    <footer><%- include('partials/footer'); %></footer>
  </body>
</html>
