<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); -%>
  </head>
  <body>
    <div class="container mt-5 main-content">
      <div class="welcome">EPFL Start page</div>
      <hr />
      <div class="col-auto">
        <label class="sr-only" for="dynamic_search">Search</label>
        <div class="input-group mb-2 search-container">
          <div class="input-group-prepend">
            <% defaultSettings.searchEngines.forEach(function(se, i) { if
            (se.default) { %>
            <button
              id="search_on"
              class="btn bg-gray-200 dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <%= se.name %>
            </button>
            <div class="dropdown-menu">
              <% } }); var group=2;
              defaultSettings.searchEngines.forEach(function(se, i) { if (group
              == se.order[0]){ // add the separator %>
              <div role="separator" class="dropdown-divider"></div>
              <% group++; } %>
              <a class="dropdown-item" href="#">
                <img
                  class="dropdown-item-image"
                  src="<%= se.icon %>"
                  width="16px"
                />
                <%= se.name %>
              </a>
              <% }); %>
            </div>
          </div>
          <input
            id="dynamic_search"
            type="search"
            class="form-control"
            placeholder="Search…"
          />
          <svg aria-hidden="true" class="icon">
            <use xlink:href="#icon-search"></use>
          </svg>
        </div>
      </div>
    </div>
    <%- include('partials/footer'); -%>
    <!-- prettier-ignore -->
    <%- include('partials/footer_scripts'); -%>
  </body>
</html>
